rottenpotatoes/.bundle/
rottenpotatoes/.rspec
rottenpotatoes/coverage/
rottenpotatoes/db/*.sqlite3
rottenpotatoes/db/schema.rb
rottenpotatoes/lib/tasks/
rottenpotatoes/log/
rottenpotatoes/tmp/
rottenpotatoes/vendor/bundle
