###############################################################################################
# Ignore specific config files
###############################################################################################
.bundle/*
!.bundle/config
config/application.yml


###############################################################################################
# Ignore all logfiles and tempfiles.
###############################################################################################
/log/*.log
/tmp


###############################################################################################
# Ignore application configurations
###############################################################################################
.chef
.vagrant


###############################################################################################
# Ignore local asset pipline cache files
###############################################################################################
/public/assets


###############################################################################################
# APPLICATION #
###############################################################################################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.psd
*.ai
*.ase


###############################################################################################
# Packages #
###############################################################################################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


###############################################################################################
# Logs and databases #
###############################################################################################
*.log
*.sql
*.sqlite


###############################################################################################
# OS generated files #
###############################################################################################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
